html {
    height: 100%;
}

body {

    position:  relative;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
    height: 100%;
}
#header
{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F4F6F7;
}
#rightside
{
    float: right;

}
#middle
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
#header h1
{
    height: 30px;
    font-size: 200%;
}

#info {

    position:relative;
    bottom:0px;
    width: 100%;
    margin: 0;
    max-height: 100%;/* or however high you would like */

}

a {
    color: #922B21;
    text-decoration: none;
}
#side
{
    width:100%;
    height:100%;
}

#piecharts
{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: row;
    height:100%;
}

#piechart, #piechart2
{
    background-color: #F4F6F7;
    width:50%;
    height:100%;
}
#curve_chart
{
    background-color: #F4F6F7;
    width:100%;
    float: right;
    height:100%;
}



.bull {
    padding: 0px 5px;
    color: #555;
}

#title {
    position: absolute;
    top: 20px;
    width: 500px;
    background-color: #f4f6f7;
    font:20px/20px  Roboto;
    padding: 15px;
}

.container {
    background: linear-gradient(
            to right,
            #ff9e2c 0%,
            #ff9e2c 50%,
            #b6701e 50%,
            #b6701e 100%
    );
}

#navbarid {
    background-color: #f4f6f7;
    width:100%;
}

#rightnav{
    font: 20px/20px Roboto;
    top: 20px;
    padding: 15px;


}

#dropdown1{
    font: 15px/15px Roboto;

}
* {
    box-sizing: border-box;
}
body {
    font-size: 1.25rem;
    font-family: sans-serif;
    line-height: 150%;
    /*text-shadow: 0 2px 2px #b6701e;*/
}

section {
    color: #fff;
    text-align: center;
}

article {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
}

h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
    display: table;
    width: 100%;
}

.left-half {
    background-color: #ff9e2c;
    position: relative;
    left: 0px;
    width: 50%;
}

.right-half {
    background-color: #b6701e;
    position: relative;
    right: 0px;
    width: 50%;
}